/* index.css */

@font-face {
  font-family: 'TT Norms';
  src: url('/TT-Norms-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

html, body {  
  font-family: 'TT Norms', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

p button { font-family: 'TT Norms', sans-serif; }

#drawingCanvas,
#riveCanvas {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
}

#drawingCanvas { z-index: 2; }
#riveCanvas { z-index: 1; }
